/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* MAIN VIEW */


.header .navbar {
  background-color: transparent !important;
  z-index: 2;
}

/* CARD */
/* #card{
  max-width: 50vw;
  background-color: transparent !important;
} */

/* CARRUSEL */
.carousel-control-prev, .carousel-control-next{
  background-color: #555555;
  width: 4%;
  height: 100%;
  border-radius: 1px;
  top: 50%;
  transform: translateY(-50%);
  
}
